.countries {
  font-size: 1.17em;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-start;
  text-align: center;
  width: 300px;
  border: 2px solid black;
}
